.bd{
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgb(4, 1, 14) 75%), url('../../../assets/img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}